include ../includes/head
link(rel="stylesheet" href="/css/siteOpsAndForeign.css")
main
    nav.functionlinks
        a(href="/auth/logout") Logout
    h3=`Change ${foundUser.username}'s User Info`
    form.centerform(action="/auth/put?_method=PUT" method="POST")
        input(type="text" name="username" placeholder="New Username")
        input(type="text" name="oldPassword" placeholder="Old Password")
        input(type="password" name="newPassword" placeholder="New Password")
        button#changeInfo(type="submit") CHANGE INFO
    form.centerform(action="/auth/delete?_method=DELETE" method="POST")
            button#delete(type="submit") DELETE USER
    include ../includes/footer