link(rel="stylesheet" href="/css/articleHeader.css")
section.articleHeader
    figure.thomas
        figcaption Opinion
        img.tom(src="/images/thomas-l-friedman-thumbLarge.png" alt="Tom Himself")
    div.titles
        h1.author Thomas L. Friedman
        h3.byline=`with slight assist by ${user.username}`