link(rel="stylesheet" href="/css/footer.css")
footer
    -const random = Math.floor(Math.random() * 5)
    case random
        when 0
            aside Thomas Friedman, great man or greatest man?
        when 1
            aside Netanya-who?
        when 2
            aside Friedman has more wisdom in his mustache than most men have in their entire face.
        when 3
            aside Friedman is Spartacus.
        default
            aside Friedman is the sixth Beatle.