<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author" content="Timothy Malstead")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/thomas-l-friedman-favicon.png")
        link(rel="stylesheet" href="/css/head.css")
        title Thomas L. Friedman's Very Important Column Generator
    body
        section
            header
                nav
                    button.headerbutton LIGHT/DARK
                img.logo(src="/images/NewYorkTim.svg", alt="The New York Tim's")
                nav
                    button.headerbutton CREATE COLUMN
                    button.headerbutton LOG IN