<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author" content="Timothy Malstead")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/thomas-l-friedman-favicon.png")
        link(rel="stylesheet" href="/css/head.css")
        title Thomas L. Friedman's Very Important Column Generator
    body
        section.container
            section.navbar
                header
                    nav
                        button.headerbutton LIGHT/DARK
                    img.logo(src="/images/NewYorkTim.svg", alt="The New York Tim's")
                    nav
                        form(action="/articles")
                            button.headerbutton(type="submit") CREATE COLUMN
                        form(action="")
                            button.headerbutton LOG IN
            span.registerboxes
                form.loginforms(action="/auth/register" method="POST")
                    input(type="text" name="username" placeholder="Username")
                    input(type="password" name="password" placeholder="Password")
                    button.headerbutton.modalbutton(type="submit") REGISTER
                form.loginforms(action="/auth/login" method="POST")
                    input(type="text" name="username" placeholder="Username")
                    input(type="password" name="password" placeholder="Password")
                    button.headerbutton.modalbutton(type="submit") LOG IN