<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author" content="Timothy Malstead")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/thomas-l-friedman-favicon.png")
        link(rel="stylesheet" href="/css/head.css")
        script(defer src="/js/head.js")
        title Thomas L. Friedman's Very Important Column Generator
    body
        section.container
            section.navbar
                header
                    img.hamburgermenu(src="/images/stackMenu.svg")
                    nav.desktopbuttons
                        button.headerbutton.lightdarktoggle LIGHT/DARK
                    a(href="/")
                        img.logo(src="/images/NewYorkTim.svg" alt="The New York Tim's")
                    //- nav.desktopbuttons
                    //-     form(action="/articles/new")
                    //-         button.headerbutton(type="submit") CREATE COLUMN
                    //-     form(action="")
                    //-         button.headerbutton#loginbutton(type="button") LOG IN
                    nav.desktopbuttons
                        form(action="/articles/new")
                            button.headerbutton(type="submit") CREATE COLUMN
                        form(action="")
                            button.headerbutton#loginbutton(type="button") LOG IN
            section.registerboxes
                form.loginforms#registerfield(action="/auth/register" method="POST")
                    input.forminput(type="text" name="username" placeholder="Username")
                    input.forminput(type="password" name="password" placeholder="Password")
                    button.headerbutton.modalbutton(type="submit") REGISTER
                form.loginforms#loginfield(action="/auth/login" method="POST")
                    input.forminput(type="text" name="username" placeholder="Username")
                    input.forminput(type="password" name="password" placeholder="Password")
                    button.headerbutton.modalbutton(type="submit") LOG IN
                    button#getregisterfield(type="button") Register
            section.sidemenu
                    button.headerbutton.lightdarktoggle LIGHT/DARK
                    form(action="/articles/new")
                        button.headerbutton(type="submit") CREATE COLUMN
                    form(action="")
                        button.headerbutton#sideloginbutton(type="button") LOG IN