include includes/head
link(rel="stylesheet" href="/css/index.css")
main
    h4=session.message
    header.titleheader
        figure
            figcaption Opinion
            img(src="/images/thomas-l-friedman-thumbLarge.png" alt="Tom Himself")
        div.titles
            h1 Thomas L. Friedman
            h3 Virile, brilliant and correct in all things.
    section.indica
        section.inbetween
        div.tab
            h4 Latest
    section.maingrid
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    include includes/footer