include includes/head
link(rel="stylesheet" href="/css/index.css")
main
    h4=session.message
    header.titleheader
        figure
            figcaption Opinion
            img.tom(src="/images/thomas-l-friedman-thumbLarge.png" alt="Tom Himself")
        div.titles
            h1 Thomas L. Friedman
            -const randomByline = Math.floor(Math.random() * 4)
            case randomByline
                when 0
                    h3 Virile, brilliant and correct in all things.
                when 1
                    h3 Men want to be him, women and children also want to be him.
                when 2
                    h3 Our greatest natural resource.
                default
                    h3 Not just an opinion column, the correct opinion column.
    section.indica
        section.inbetween
        div.tab
            h4 Latest
    section.maingrid
        p Oh no!
        p Very Important writer Thomas Friedman stayed too late at George Stephanopoulos' cocktail party last night and needs your help to finish his column on time! Can you help with nouns? Of course. Can you help with adjectives? Great! Might there be a way you can provide some additional words? Naturally.
        p Never before has someone so important needed so much from someone so little. Be a part of someone much bigger than yourself, click log in to help Tom right away!
    include includes/footer