include includes/head
body
    form(action="/auth/register" method="POST")
        input(type="text" name="username" placeholder="Username")
        input(type="password" name="password" placeholder="Password")
        button(type="submit") Register