include includes/head
link(rel="stylesheet" href="/css/index.css")
main
    header.titleheader
        figure
            figcaption Opinion
            img(src="/images/thomas-l-friedman-thumbLarge.png" alt="Tom Himself")
        div.titles
            h1 Thomas L. Friedman
            h3 Virile, brilliant and correct in all things.