main {
    width: 95%;
    margin: 4.5rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.functionlinks {
    align-self: center;
}

a {
    font-style: italic;
    color: #999;
    text-decoration: none;
    margin: 0 .5em;
}