.articleHeader {
    transform: scale(.8);;
}

.author {
    font-family: inherit;
    font-size: 3vw;
    font-weight: 200;
    position: relative;
    top: .6em;
}

.byline {
    color: #999;
    font-family: inherit;
    font-size: 1.3vw;
    font-weight: 100;
    position: relative;
    top:-.6em;
}