.articleHeader {
    display: grid;
    width:100%;
    grid-template-columns: 35% 65%;
    grid-template-areas: "figure .titles";
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 5vh;
    margin: -2em 0 5em 0;
}

.author {
    font-family: inherit;
    font-size: 3vw;
    font-weight: 200;
    position: relative;
    top: .6em;
}

.byline {
    color: #999;
    font-family: inherit;
    font-size: 1.3vw;
    font-weight: 100;
    position: relative;
    top:-.6em;
}