body {
    margin: 0;
}
section {
    width: 100vw;
    background-color: white;
    border-bottom: .1em solid #ebebeb;
    box-shadow: 0 .05em .2em #ebebeb80;
    display: flex;
    justify-content: center;
}

header {
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    width: 18em;
    margin: .5em;
}

.headerbutton {
    background-color: #567b95;
    border: 1em solid #567b95;
    border-radius: 5px;
    margin: 0 .5em;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
}