main {
    width: 95%;
    margin: 4.5rem 0 0 0;
    display: flex;
    flex-flow: column wrap;
}

.titleheader {
    display: grid;
    width:100%;
    grid-template-columns: 15% 40% 45%;
    grid-template-areas: "figure .titles .";
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 5vh;
}

figure {
    transform: scale(.8);
    display: block;
}

figcaption {
    font-family: inherit;
    color: inherit;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
}

.titles {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

h1 {
    font-family: inherit;
    font-size: 3vw;
    font-weight: 200;
    position: relative;
    top: .6em;
}

h3 {
    color: #999;
    font-family: inherit;
    font-size: 1.3vw;
    font-weight: 100;
    position: relative;
    top:-.6em;
}

.indica, .maingrid {
    width: 92.5%;
    margin: 0 auto;
}

.inbetween {
    margin: 12rem 0 0 0;
    border-top: .1em solid #333;
    height: 2.2em;
    border-bottom: .1em solid #ebebeb;
}

.tab {
    border-width: .1em .1em 0 .1em;
    border-style: solid;
    border-color: #ebebeb;
    border-radius: 5px;
    background-color: white;
    height: 2.7em;
    width:8em;
    position: relative;
    top:-2.7em;
    left:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -.05em .2em #ebebeb8e;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
}

.maingrid {
    flex-grow: 1;
}