main {
    width: 95%;
    margin: 4.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.functionlinks, .newarticleform, .centerform, h3 {
    align-self: center;
}

.centerform {
    width:80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
    "input input input"
    ". changeInfo ."
    ;
}

#changeInfo, #delete {
    grid-area: changeInfo;
    margin: .5em 0;
}

.newarticleform {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
    "input input input"
    "input input input"
    "input input input"
    "input input input"
    "input input input"
    "input input input"
    "input input input"
    "input input input"
    "input input input"
    "input input input"
    ". bottombutton ."
    ;
    width: 80%;
}

.userArticles {
    justify-content: inherit;
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto 12% 12%;
    box-shadow: -.2vw .3vh 2px #999;
}

a {
    font-style: italic;
    color: #999;
    text-decoration: none;
    margin: 0 .5em;
}

h1 {
    font-size: 4.5vw;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    /* margin: 0 0 -.005em 0; */
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

.bottombutton {
    grid-area: bottombutton;
}

/* .publishedarticle {
    border : 1px solid black;
    margin: .8em 0;
    padding: 0 .5em;
} */

article {
    width:50%;
    align-self: center;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.3em;
    /* display: flex; */
    /* margin: 5em 0 0 0; */
    /* font-weight: 200; */
    /* height: 5vh; */
    display: inherit;
    flex-direction: inherit;
}

p {
    text-indent: 3em;
}

.mainarticle {
    position: relative;
    top:1em;
}

.articletitle {
    align-self: center;
}

.formflex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.articleIndexButton {
    height: initial;
}

.newArticleTag {
    color: #999;
}

#initialArticle {
    display: flex;
    justify-content: center;
}