include ../includes/head
link(rel="stylesheet" href="/css/siteOpsAndForeign.css")
main
    nav.functionlinks
        a(href="/articles/new") New Article
        a(href="/auth/logout") Logout
        a(href="/auth/edituser") Edit User Info
    -if (user.foreignArticles.length) {
    -for (let i=0 ;i < user.foreignArticles.length; i++) {
        section.userArticles
            a(href=`/articles/${user.foreignArticles[i]._id}`)
                h1=user.foreignArticles[i].title
            form.formflex(action=`/articles/${user.foreignArticles[i]._id}`)
                button.articleIndexButton(type="submit") VIEW ARTICLE 
            form.formflex(action=`/articles/${user.foreignArticles[i]._id}?_method=DELETE` method="POST")
                button.articleIndexButton(type="submit") DELETE ARTICLE
    -} } else {
        section.userArticles#initialArticle
            a(href="/articles/new")
                h1.newArticleTag Click to Create First Article
    -}
    include ../includes/footer