include ../includes/head
script(defer src="/js/randomWords.js")
link(rel="stylesheet" href="/css/siteOpsAndForeign.css")
main
    nav.functionlinks
        a(href="/auth/logout") Logout
    form.newarticleform(action="/articles/foreignarticle" method="POST")
        input#countryId(type="text" name="country" placeholder="Name of Country")
        input.unitOfTime(type="text" name="unitOfTime" placeholder="Unit of Time")
        input.unitOfTime(type="text" name="unitOfTime2" placeholder="Larger Unit of Time")
        input.noun(type="text" name="noun" placeholder="Noun")
        input.noun(type="text" name="noun2" placeholder="Noun")
        input.noun(type="text" name="noun3" placeholder="Noun")
        input.noun(type="text" name="noun4" placeholder="Noun")
        input.noun(type="text" name="noun5" placeholder="Noun")
        input.noun(type="text" name="noun6" placeholder="Noun")
        input.noun(type="text" name="noun7" placeholder="Noun")
        input.noun(type="text" name="noun8" placeholder="Noun")
        input.adjective(type="text" name="adjective" placeholder="Adjective")
        input.adjective(type="text" name="adjective2" placeholder="Adjective")
        input.adjective(type="text" name="adjective3" placeholder="Adjective")
        input.adjective(type="text" name="adjective4" placeholder="Adjective")
        input.adjective(type="text" name="adjective5" placeholder="Adjective")
        input.adjective(type="text" name="adjective6" placeholder="Adjective")
        input.verb(type="text" name="verb" placeholder="Verb")
        input.verb(type="text" name="verb2" placeholder="Verb")
        input.verb(type="text" name="verb3" placeholder="Verb")
        input.verb(type="text" name="verb4" placeholder="Verb")
        input.verb(type="text" name="verb5" placeholder="Verb")
        input.verb(type="text" name="verb6" placeholder="Verb")
        input.verb(type="text" name="verb7" placeholder="Verb")
        input(type="text" name="importantFigure" placeholder="Celebrity/World Figure" required)
        input(type="text" name="abstractConcept" placeholder="Abstract Concept" required)
        input#dayOfTheWeek(type="text" name="dayOfTheWeek" placeholder="Day of the Week")
        input(type="text" name="blueCollarOccupation" placeholder="Member of a Blue Collar Occupation" required)
        input(type="text" name="quote" placeholder="Inspirational Quote" required)
        input(type="text" name="title" placeholder="Title of Article" required)
        button.bottombutton(type="submit") CREATE NEW ARTICLE
    include ../includes/footer