include ../includes/head
script(defer src="/js/randomWords.js")
link(rel="stylesheet" href="/css/siteOpsAndArticles.css")
main
    nav.functionlinks
        a(href="/auth/logout") Logout
    form.newarticleform(action="/articles/valuesarticle" method="POST")
        input.noun#firstNoun(type="text" name="noun" placeholder="Noun")
        input.noun(type="text" name="noun2" placeholder="Noun")
        input.noun(type="text" name="noun3" placeholder="Noun")
        input.noun(type="text" name="noun4" placeholder="Noun")
        input.noun(type="text" name="noun5" placeholder="Noun")
        input.noun(type="text" name="noun6" placeholder="Noun")
        input.noun(type="text" name="noun7" placeholder="Noun")
        input.noun(type="text" name="noun8" placeholder="Noun")
        input.noun(type="text" name="noun9" placeholder="Noun")
        input.noun(type="text" name="noun10" placeholder="Noun")
        input.noun(type="text" name="noun11" placeholder="Noun")
        input.adjective(type="text" name="adjective" placeholder="Adjective")
        input.adjective(type="text" name="adjective2" placeholder="Adjective")
        input.adjective(type="text" name="adjective3" placeholder="Adjective")
        input.adjective(type="text" name="adjective4" placeholder="Adjective")
        input.adjective(type="text" name="adjective5" placeholder="Adjective")
        input.adjective(type="text" name="adjective6" placeholder="Adjective")
        input.adjective(type="text" name="adjective7" placeholder="Adjective")
        input.adjective(type="text" name="adjective8" placeholder="Adjective")
        input.verb(type="text" name="verb" placeholder="Verb")
        input.verb(type="text" name="verb2" placeholder="Verb")
        input.verb(type="text" name="verb3" placeholder="Verb")
        input.verb(type="text" name="verb4" placeholder="Verb")
        input.verb(type="text" name="verb5" placeholder="Verb")
        input.verb(type="text" name="verb6" placeholder="Verb")
        input.verb(type="text" name="verb7" placeholder="Verb")
        input.verb(type="text" name="verb8" placeholder="Verb")
        input(type="text" name="importantFigure" placeholder="Celebrity/World Figure" required)
        input(type="text" name="importantFigure2" placeholder="Celebrity/World Figure" required)
        input(type="text" name="title" placeholder="Title of Article" required)
        button.bottombutton(type="submit") CREATE NEW ARTICLE
    include ../includes/footer